<%- include('partials/header.html') %>


<section class="noticia">
    <div class="center">
        <div class="noticia-single">
            <h2><%= noticia.titulo %></h2>
            <div class="autor-nome">
                <span><%= noticia.autor %></span>
            </div><!--autor-nome-->
            <br>

            <div><img style="width: 100%;" src="<%= noticia.imagem %>" /></div>
            <br>

            <p><%- noticia.conteudo %></p>
            
        </div><!--noticia-single-->
        <div class="mais-lidas">

            <h3>Mais Lidas</h3>

            <div class="mais-lidas-noticias">

                <!--Looping for(mais lidas)-->
                <% for(let i = 0; i < postsML.length; i++){ %>
                    <div class="mais-lida-noticia-single">
                        <img src="<%= postsML[i].imagem %>" />
                        <div class="texto-mais-lida-single">
                            <h4><%= postsML[i].titulo %></h4>
                            <p><%- postsML[i].descricaoCurta %>...</p>
                            <span>(<%= postsML[i].views %> views)</span>
                            <a href="<%= postsML[i].slug %>">Saiba mais</a>
                        </div><!--texto-mais-lida-single-->
                    </div><!--mais-lida-noticia-single-->
                    <% } %><!--Looping for(mais lidas)-->

            </div><!--mais-lidas-noticias-->
        </div><!--mais-lidas-->
    </div><!--center-->
</section><!--noticia-->


<%- include('partials/footer.html') %>

</body>
</html>