<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--Importando Fontes-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

    <!--?-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <!--Importando Estilo CSS-->
    <link rel="stylesheet" href="../public/style.css" />

    <!--Título da Página-->
    <title>Home</title>
</head>
<body>
    <header>
        <div class="center">
            <div class="logo">
                <h2><span style="font-weight: lighter;">Danki</span><b>News</b></h2>
            </div><!--logo-->

            <div class="form-busca">
                <form>
                    <i class="fa fa-search" aria-hidden="true"></i>
                    <input type="text" placeholder="Busca..." name="busca" /> 
                </form>
            </div><!--form-busca-->

        </div><!--center-->
    </header>